body {
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* contenedor del ojo */
.eye-container {
    transform: scale(1.5);
}

/* Parte blanca del ojo */
.eye {
    width: 300px;
    height: 180px;
    background: radial-gradient(circle, #ffffff 60%, #d6d6d6 90%);
    border-radius: 200px/120px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 6px solid #000;
}

/* IRIS */
.iris {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle,
        #e2a34d 10%,
        #b37532 40%,
        #6d3f12 70%,
        #3a2008 95%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s linear;
}

/* Textura del iris */
.iris::before {
    content: "";
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: repeating-conic-gradient(
        #00000010 0deg 10deg,
        transparent 10deg 20deg
    );
    mix-blend-mode: overlay;
}

/* Pupila */
.pupil {
    width: 45px;
    height: 45px;
    background: black;
    border-radius: 50%;
    z-index: 5;
}

/* Brillo del ojo */
.reflection {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, .8);
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 25px;
    filter: blur(2px);
}
