body {
    background: #f0f0f0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face {
    display: flex;
    gap: 80px;
}

.eye {
    position: relative;
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 50%;
    border: 6px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Ceja */
.brow {
    position: absolute;
    top: -35px;
    width: 140px;
    height: 40px;
    background: black;
    border-radius: 50%;
}

/* Pestañas */
.lashes {
    position: absolute;
    top: -10px;
    width: 100%;
    height: 25px;
    border-top: 6px solid black;
    border-radius: 50%;
}

/* Iris café */
.iris {
    width: 90px;
    height: 90px;
    background: #8b4513; /* Café */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Pupila negra */
.pupil {
    width: 40px;
    height: 40px;
    background: black;
    border-radius: 50%;
}
